<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titel</title>
    <%- css('css/style') %>
    <%- css('roboto/css/roboto') %>
    <%- css('font-awesome/css/font-awesome') %>
</head>
<body>
    <div class="wrapper">
        <nav>
            <h2>Services <small>(<%- site.posts.length %>)</small></h2>
            <ul class="service-list">
                <% var services = [] %>
                <% site.posts.each(function(service){  %>
                <%    services.push(service)  %>
                <% }); %>
                <% services = services.sort((a,b) => a.slug.localeCompare(b.slug)); %>
                <% services.forEach(function(service) { %>
                <%- partial('_partial/service-list-item', {service: service}) %>
                <% }); %>
            </ul>
        </nav>
        <main class="content">
            <%- body %>
        </main>
    </div>
</body>
</html>
